<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>xiaolian_helper</string>
	<key>Program</key>
	<string>/xiaolian/xiaolian_helper</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>KernelBase</key>
		<string>0xfffffff007004000</string>
	</dict>
	<key>MachServices</key>
	<dict>
		<key>io.xiaolian.helper.xpc</key>
		<true/>
	</dict>
	<key>UserName</key>
	<string>root</string>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
</dict>
</plist>
